.header {
    position: sticky;
    top: 0;
    z-index: 100;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logoImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchInput {
    padding: 5px;
    margin-right: 10px;
  }

  .reset {
    color: #333;
    text-decoration: none;
    padding: 5px;
    margin-right: 8px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset:hover {
    background-color: #333;
    color: #fff;
  }
  
  .select {
    padding: 5px;
    margin-right: 10px;
  }
  
  .link {
    color: #333;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  .link:hover {
    background-color: #333;
    color: #fff;
  }
  